@tailwind base;
@tailwind components;
@tailwind utilities;



   @font-face {   
   font-family: 'YekanBakh';  
  src: url('/path/to/public/fonts/YekanBakh-Light.woff2') format('woff2'),  
       url('/path/to/public/fonts/YekanBakh-Heavy.woff') format('woff');
     
   font-weight: normal;  
  font-style: normal;    
 }     


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 200;
  /* background-image: url("https://www.ndco.ir/portals/0/Images/slider/s3.jpg");
  background-position: 100%; */

}

html,
body {
  max-width: 1200px;
  overflow-x: hidden;
  margin: auto;
  padding: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: inherit;
 
}

